<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File-Uploader</title>
    </head>
    <body>
        <h1>THIS IS MY FILE UPLOADER</h1>
        <% if (user && user.username) {%>
            <h2>You are logged in as: <%= user.username  || "" %></h2>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/auth?mode=login">Login</a>
            <a href="/auth?mode=sign-up">Sign Up</a>
        <% } %>
    </body>
</html>
