<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File-Uploader</title>
    </head>
    <body>
        <h1>THIS IS MY FILE UPLOADER</h1>
        <h2>You are <%= user %></h2>
    </body>
</html>
