.content-container {
    grid-template-columns: auto 1fr;
}

.content-title-container {
    align-items: center;
    border-bottom: 1px solid var(--line-separator-color);
    padding: 0.5em;
    gap: 0.3em;
}

.content-title-icon {
    width: 25px;
    height: 25px;
    fill: var(--black);
}

.content-title {
    font-size: 0.9rem;
}

.folders-section {
    border-right: 1px solid var(--line-separator-color);
    min-width: 250px;
    max-width: 250px;
}

.folders-section-content {
    padding-left: 1em;
}

.content-data {
    padding: 1em;
}

.content-folder-container {
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0;
}

.content-file-container,
.content-folder-container-icon-name {
    align-items: center;
    cursor: pointer;
}

.content-folder-container-icon-name:hover,
.content-file-container:hover {
    text-decoration: underline;
}

.content-folder-container-icon-name {
    gap: 0.3em;
    align-items: center;
    flex: 1;
    min-width: 0;
    overflow: hidden;
}

.content-folder-icon {
    width: 20px;
    height: 20px;
    fill: var(--black);
}

.content-folder-more-icon {
    cursor: pointer;
}

.content-file {
    border-bottom: 1px solid var(--line-separator-color);
    padding: 0em 0.4em 0.4em 0;
}

.content-folder {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.folders-section-content-data {
    gap: 0.2em;
    padding-left: 1.3em;
}

.more-options-folder-btn:hover {
    fill: #ff4d4d;
}

.files-section-content-data {
    gap: 0.5em;
}

/* Dialog Tool */

.dialog-tool {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 2em;
    background: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
    height: 250px;
    max-height: 90%;
}

.dialog-tool-upload-file {
    width: 700px;
    height: 600px;
}

.dialog-tool-content-container {
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

.dialog-tool-header {
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.dialog-tool::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.dialog-tool-close-btn {
    border: none;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
    padding: 4px;
    line-height: 1;
    transition: color 0.2s ease;
}

.dialog-tool-close-btn:hover {
    color: #ff4d4d;
}

.dialog-tool-content {
    border-top: 1px solid var(--line-separator-color);
    border-bottom: 1px solid var(--line-separator-color);
    position: relative;
}

.dialog-tool-content-no-border {
    border-bottom: none;
}

.dialog-tool-content-inputs-container {
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.dialog-tool-content-input {
    padding: 1em;
    font-size: 1rem;
}

.input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.add-file-icon-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px dashed var(--line-separator-color);
    width: 150px;
    height: 150px;
    z-index: -1;
}

.add-file-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    fill: var(--line-separator-color);
}

.dialog-tool-footer {
    justify-content: end;
    align-items: center;
    padding: 0.5em 0;
    gap: 1em;
}

.dialog-tool-footer-btn {
    cursor: pointer;
    padding: 1em;
    border-radius: 0.3em;
    border: 1px solid var(--border-color);
    color: #276ca0;
    font-weight: 500;
}

.dialog-tool-footer-btn:hover {
    background-color: #e0e0e0;
    color: #276ca0;
}

.dialog-tool-footer-submit {
    background-color: var(--main-color);
    color: var(--main-font-color);
}

.dialog-tool-footer-submit:hover {
    background-color: #276ca0;
    color: #e0e0e0;
}
